<div class="row">
  <div class="col-12">
    <button class="btn btn-sm btn-success" (click)="onNewCustomer()">New Customer</button>
    <button class="btn btn-sm btn-primary ml-2" (click)="onGetCustomer()">Get Customer</button>
    <button class="btn btn-sm btn-primary ml-2" (click)="onSaveCustomer()">Save Customers List</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <app-customer-item 
        *ngFor="let customerEl of customers; let i = index" 
        [customer]="customerEl" 
        [index]="i"
    >
    </app-customer-item>
  </div>
</div>
